  div {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }

  h1 {
    font-size: 20px;
  }

  .header3{
    font: bold 20px Segoe Print, fantasy;
  }
  
.segoe{
  font-family: Segoe Print, fantasy;
}

       /*class начинаются с точки!*/
  .violet { 
  color: #9400D3;
  }
  .paragraph {
  color: #3a3209f5;
  /* Правило color устанавливает цвет текста. */
  }
  .italyc-type{
    font-style: oblique;
  }

  /*ID начинаются с решётки!!!*/
#red {
  color: red;
}
#green {
  color: rgb(9, 255, 0);
}
#blue {
  color: rgb(17, 0, 255);
}